*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#FFF8F3;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color:#FFFFFF;
}

.navbar{
    max-width: 1600px;
    margin: 0 auto;          /* center container */
    padding: 20px 120px;      /* left-right gap */
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 45px;
}

#menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-top: 15px;
}
#menu ul a:hover{
    color: #22c55e;

}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn{
    margin-top: 15px;
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius:10px 10px;
    cursor: pointer;
    font-size: 16px;
}
.eye{
    padding: 8px 12px;
    width: 229px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    color: green;

}
.baner{
    width: 71%;
    max-width:1600px;
}
.image-box{
  position: relative;
}

.image-box img{
  display: block;
}
.center-text{ 
    top: 40%; 
    left: 40%; 
    position: absolute; 
    text-align: center; }

.center-text h1{
    color: #ffffff;       
    font-size: 50px;     
    font-weight: 300;
}
.center-text h2{
    color:green;       
    font-size: 40px;     
    font-weight: 400;
}
.center-text p{
    color: #ffffff;       
    font-size: 15px;     
    text-align: center;
    
}
.start-btn{
     width: 300px;
    height: 40px;
    padding: 12px 16px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius:10px 10px;
    cursor: pointer;
    font-size: 16px;  

}
.reset-btn{
    padding: 12px 16px;
    border-radius: 4px;
    background: transparent;
    color: #FFFFFF;
}
.headline{
    text-align: center;
    max-width: 1360px;
    padding: auto;
}
.headline h3{
    margin-top: 30px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;

}
.card{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    padding: 0 120px 120px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
}

.card-box{
    display: flex;
    flex-direction: column;      /* উপর নিচে */
    align-items: center;         /* horizontally center */
    justify-content: center;     /* vertically center */
    border: 2px solid whitesmoke;
    background-color:#0000000F;
    width: 100%;
    height: 400px;
    margin-top: 44px;
    text-align: center;
}

/*pictur control*/
.card-box img{
    max-width: 80px;
    margin-bottom: 16px;
}

.card-box p{
    font-size: 18px;
    color:#627382;
    font-weight: 600;
}
.card-box h4{
    font-size: 24px;
    color: #001931;
    font-weight: 700;
}
.image-section{
    display: flex;
    justify-content: space-between;
    gap: 44px;
    padding: 0 120px 120px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
}
.description{
    max-width: 1360px;
    padding: auto;
    margin-top: 100px;
}
.description h5{
color: green;
font-size: 16px;
}
.description h3{
    margin-top: 30px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}
.description p{
    margin-top: 10px;
}
.circle-tick {
  list-style: none;
  padding: 0;
}

.circle-tick li {
  position: relative;
  padding-left: 36px;
  margin: 12px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.circle-tick li::before {
  content: "✔";
  width: 20px;
  height: 20px;
  background-color: #22c55e; 
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 12px;
}
.end-part{
    background-color: #FFFFFF;
    width: 71%;
    max-width:1600px;
    padding: 2px 120px 120px 120px;
    gap:40px;
    margin: 0 auto;  
}

.last{
    max-width: 1360px;
    text-align: center;   
    padding: 80px 40px;
    gap: 24px;
    margin: 0 auto;
    background-color: #F7F6F2;      
}

.last h3{
    margin-top: 30px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;

}
.last button{
    display: block;
    margin: 20px auto;
}
.footer{
    max-width: 1600px;
  background: #001931;
  padding: 120px 30px 120px 120px;
}

.logo-last{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left side */
.left{
  margin-left: 20px;
}

/* Center */
.center{
    margin-top: 264px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

/* Right side */
.right{
    font-size: 20px;
    font-weight: 500;
  margin-right: 30px;
  text-align: center;
  color: #fff;
}

.right img{
  width: 26px;
  height: 26px;
  margin-left: 10px;
  background: #fff;       
  padding: 6px;
  border-radius: 50%;    
}