*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#FFF8F3;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color:#FFFFFF;
}

.navbar{
    max-width: 1600px;
    margin: 0 auto;          /* center container */
    padding: 20px 120px;      /* left-right gap */
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 45px;
}

#menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-top: 15px;
}
#menu ul a:hover{
    color: #22c55e;

}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn{
    margin-top: 15px;
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius:10px 10px;
    cursor: pointer;
    font-size: 16px;
}