*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#FFF8F3;
    font-family: "Open Sans", sans-serif;
}

header{
    background-color:#FFFFFF;
}

.navbar{
    max-width: 1600px;
    margin: 0 auto;          /* center container */
    padding: 20px 120px;      /* left-right gap */
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 45px;
}

#menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-top: 15px;
}
#menu ul a:hover{
    color: #22c55e;

}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.btn{
    margin-top: 15px;
    width: 200px;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius:10px 10px;
    cursor: pointer;
    font-size: 16px;
}
.eye{
    padding: 8px 12px;
    width: 229px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    color: green;

}
.baner{
    width: 71%;
    max-width:1600px;
}
.image-box{
  position: relative;
}

.image-box img{
  display: block;
}
.center-text{ 
    top: 40%; 
    left: 40%; 
    position: absolute; 
    text-align: center; }

.center-text h1{
    color: #ffffff;       
    font-size: 50px;     
    font-weight: 300;
}
.center-text h2{
    color:green;       
    font-size: 40px;     
    font-weight: 400;
}
.center-text p{
    color: #ffffff;       
    font-size: 15px;     
    text-align: center;
    
}
.start-btn{
     width: 300px;
    height: 40px;
    padding: 12px 16px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius:10px 10px;
    cursor: pointer;
    font-size: 16px;  

}
.reset-btn{
    padding: 12px 16px;
    border-radius: 4px;
    background: transparent;
    color: #FFFFFF;
}
.headline{
    text-align: center;
    max-width: 1360px;
    padding: auto;
}
.headline h3{
    margin-top: 30px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;

}